<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/assets/styles/sponsors.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.6.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet"
    href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="/assets/styles/transitions.css">
    <link rel="stylesheet" href="/assets/styles/cookie.css">
    <title>Sponsors</title>
</head>
<body>

    <!--PRELOADER-->
    <div id="preloader">

        <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
    </div>
    <!--PRELOADER-->
    <!-- Cookies accept form -->
    <div id="cookie-consent" class="cookie-consent">
      <p>We use cookies to improve your experience. By using our website, you agree to our cookie policy.</p>
      <button id="accept-btn" class="btn cookies_accept">Accept</button>
      <button id="decline-btn" class="btn cookies_decline">Decline</button>
    </div>
    <!-- Cookies accept form -->
    <!-- Cookies accept form -->
    <!-- HEADER -->
    <header>
        <div class="nav">
            <a href="/"><h1>PARÁDA</h1></a>
            <i class="ri-menu-line" onclick="showMenu()" id="burger"></i>
            <div class="nav__links" id="navlinks">
                <i class="ri-close-line" onclick="hideMenu()" id="close"></i>
                <ul>
                    <li><a href="/#about" class="nav_about">About</a></li>
                    <li><a href="/#members" class="nav_members">MEMBERS</a></li>
                    <li><a href="/sponsors" class="nav_sponsors">SPONSORS</a></li>
                    <li><a href="/live" class="nav_live">LIVE</a></li>
                    <li><a id="language-btn" style="cursor:pointer;"></a></li>
                </ul>
                </div>
        </div>
        <section>
            <h1 class="header_sponsors">Sponsors</h1>
        </section>
    </header>
    <!-- HEADER -->
    <!-- SPONSORS -->
    <div class="sponsors__container">
        {{range .}}
            <div class="sponsor">
                <a href="https://www.{{.Link}}" target="_blank">
                    <img src="{{.Logo}}" {{if eq .Invert 1}}style="filter: invert(1);" {{end}} alt="{{.Company}} logo not found">
                </a>
            </div>
        {{end}}
    </div>
    <!-- SPONSORS -->

    <!-- FOOTER-->
    <footer id="footer">
        <h2>Contact</h2>

        <div class="socials">
            <a href="https://www.instagram.com/paradaspace?igsh=MTF5N2FncXp5ZzJiaw%3D%3D&utm_source=qr" target="_blank"><i class="ri-instagram-line"></i></a>
            <!-- <a href="https://discord.gg/ZVXyKGw53T" target="_blank"><i class="ri-discord-fill"></i></a> -->
            <a href="" onclick="iconPopup()"><i class="ri-mail-line"></i></a>
        </div>
        <p>Designed by Jakub Farnik <script src="/modules/year.js"></script></p>
    </footer>
    <!-- FOOTER-->
    <script type="text/javascript" src="/modules/bar.js"></script>
    <script type="text/javascript" src="/modules/languages.js"></script>
    <script type="text/javascript" src="/modules/preloader.js"></script>
    <script type="text/javascript" src="/modules/popup.js"></script>
</body>
</html>
