*::-webkit-scrollbar {
    display: none;
  }
*{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    scroll-behavior: smooth;
}
body{
    background-color: #FEFFFE;
    color: #1E201;
}
a{
    color: inherit;
    text-decoration: none;
}

/*HEADER*/
.main__container header h1{
    text-align: center;
    font-size: 5rem;
    margin-top: 2rem;
}
.main__container header h1 span{
    color: rgb(75,192,192);
}

.blabla{
    width:60%;
    margin:auto;
}
